{% extends "BkMeteoBundle::layout.html.twig" %}

{% block title %}Page d'accueil{% endblock %}


{% block subbody %}
    <p>Villes disponibles : </p>
    <p><a href="{{ path('bk_meteo_city',{'cityName':'Paris,fr'}) }}">Paris</a></p>
    {{ dump(cities) }}
{% endblock %}
